@import "./utils/variables", "./menu.scss";


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mainLogo img {
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.location {

    background-color: rgb(221, 218, 218);
    box-shadow: 0px 10px 16px  #0000002e;
    display: flex;
    justify-content: center;

    &__logoLocation {
        margin-top: 1em;
        margin-right: 1em;
    }
}

.presentation {
    padding: 2em;
    text-align: center;
    margin: 0;
    background-color: rgb(212, 211, 211);
}

.presentation p {
    font-weight: 300;
}

.explore {

background: linear-gradient($color-secondary, $color-primary);
border-radius: 50px;
display: block;
margin: auto;
color: $white;
padding: 12px 12px;
border:0px;
}

.howItWorks h2, .restaurants h2 {
    margin-left: 1em;
}

.functionningStep {

    box-shadow: 0px 0px 16px  #0000002e;
    margin: 2em auto;
    display: flex;
    border-radius: 20px;
    width: 90%;
    height: 70px;
    align-items: center;
}

.step {
    color: $white;
    background-color:$color-primary ;
    border-radius: 100px;
    padding: 6px 10px 6px 10px;
    height: 19px;
    margin-left: -13px;
    margin-right: 20px;
}

.logoStep {
    margin-right: 20px;
}


.restaurantCards {
    display: flex;
    width: 90%;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    box-shadow: 0px 0px 16px  #0000002e;
    margin-top: 2rem;
    margin-bottom: 10rem;  
    margin: auto;

}

.imgRestaurant {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 68%;
    object-fit: cover;  
}
.restaurantDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heartLogo {
    margin-right: 22px;
    font-size: 28px;
}
.restaurantInfo {
    padding: 15px 0px 0px 15px;
}
.restaurantName {
    margin: 0;
}
.restaurantLocation {
    margin-top: 7px;
    font-weight: 300;
}
.footerContent {
    width: 100%;
    background-color: $color-footer;
    color:$white;
}

.footerLogo {
    margin-top: 1em;
    margin-left: 1em;
    font-family: 'Shrikhand', sans-serif;
}

.footerText {
    margin-left: 1em;
}


