@import "./utils/variables";


body {
    margin: 0;
    font-family: $body-font;
}

.mainLogo {
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

header {
    display: flex;
    align-items: center;
}

.arrowBack {
    margin-left: 1rem;
    font-size: 1.1rem;
}


.restaurantImg Img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.restaurantMenu {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.restaurantTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $title-font;
    margin-left: 30px;
}
.restaurantTitle h2{
    margin-bottom: 0;
}




.heartLogo {
    margin-right: 40px;
    font-size: 25px;
    transition: all 500ms;
    
&:hover { 
        color: $color-primary;
        cursor: pointer;
    }
}

.restaurantCategories {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 1.5em;

    
}



.restaurantContent {
    margin-bottom: 3em;
}

.restaurantCategories p {
    margin: 0;
}

.restaurantCategories p::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    display: block;
    margin-top: 5px;
}



.restaurantItem {
    height: 75px;
    box-shadow: 0px 0px 16px  #0000002e;
    border-radius: 25px;
    width: 93%;
    margin: auto;
    margin-bottom: 1em;
    animation: seconds 1.0s backwards;
    animation-delay: 1s;
}

@keyframes seconds {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }





.itemName {
    margin: 0;
    padding: 10px 15px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.itemDescription {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
 
}

.itemDescription p {
    margin: 0;

}
.itemComment {
    font-weight: 300;
    font-size: 0.95em;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order {
    background: $color-button;
    border-radius: 50px;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 16px  #0000002e;
    color: $white;
    padding: 15px 35px;
    border:0px;
    overflow: hidden;
    position:relative;
    z-index: 1;
    

    &:hover {
        filter: brightness(105%);
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        cursor: pointer,
    }

}


.footerContent {
    margin-top: 3rem;
    width: 100%;
    background-color: $color-footer;
    color:$white;
    padding: 15px 0;
   
}

.footerLogo {
    margin-left: 25px;
    font-family: $title-font;
}

.footerText {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.footerContent h2 {
    margin: 4px;
}

.footerText p {
    margin: 4px;
    font-weight: lighter;
}

.footerFas {
    margin-right: 0.5rem;
    
    &__helpingHand {
        margin-right: 0.5rem;
        font-size: 0.75em;
    }
}