@keyframes check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes secondsMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secondsMenu {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  cursor: default;
  max-width: 2500px;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

/*header*/
header {
  display: flex;
  align-items: center;
}

.mainLogo {
  display: block;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*footer*/
footer a {
  color: #fff;
}

.footerContent {
  margin-top: 3rem;
  width: 100%;
  background-color: #3a3838;
  color: #fff;
  padding: 15px 0;
}

.footerLogo {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 1em;
}

.footerText {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.footerContent h2 {
  margin: 4px;
}

.footerText p {
  margin: 4px;
  font-weight: lighter;
}

.footerFas {
  margin-right: 0.5rem;
}
.footerFas__helpingHand {
  margin-right: 0.5rem;
  font-size: 0.7em;
}

.button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 16px #0000002e;
  color: #fff;
  padding: 15px 35px;
  border: 0px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.button:hover {
  filter: brightness(105%);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.heartLogoIndex {
  cursor: pointer;
  font-size: 1.7rem;
  padding-right: 1em;
}
.heartLogoIndex:hover .fas {
  transform-origin: bottom;
  transition: transform 1000ms;
  transform: scale(0.88);
}
.heartLogoIndex .fas {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: absolute;
  transform: scale(0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heartLogoRestaurant {
  cursor: pointer;
  font-size: 1.7rem;
  padding-right: 1em;
  padding-top: 1rem;
}
.heartLogoRestaurant:hover .fas {
  padding-top: 1.8px;
  transform-origin: bottom;
  transition: transform 1000ms;
  transform: scale(0.88);
}
.heartLogoRestaurant .fas {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: absolute;
  transform: scale(0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LOADER */
#loader {
  border: 1.6rem solid #9356DC;
  border-radius: 50%;
  border-top: 1.6rem solid #99E2D0;
  width: 12rem;
  height: 12rem;
  animation: spin 2.5s linear 0.5s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    opacity: 0;
  }
}
.mainContent {
  animation: secondsMain 1s backwards;
  animation-delay: 3s;
}

.container {
  box-sizing: border-box;
  color: #333;
  display: flex;
  max-width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location {
  background-color: #dddada;
  box-shadow: 0px 10px 16px #0000002e;
  display: flex;
  justify-content: center;
}
.location__logoLocation {
  margin-top: 1em;
  margin-right: 1em;
}

.presentation {
  padding: 2em;
  text-align: center;
  margin: 0;
  background-color: #d4d3d3;
}

.presentation p {
  font-weight: 300;
}

.button a {
  color: #fff;
}

.howItWorks h2, #restaurants h2 {
  margin-left: 1em;
}

.functionningStep {
  box-shadow: 0px 0px 16px #0000002e;
  margin: 2em auto;
  display: flex;
  border-radius: 20px;
  width: 90%;
  height: 70px;
  align-items: center;
}

.step {
  color: #fff;
  background-color: #9356DC;
  border-radius: 100px;
  padding: 6px 10px 6px 10px;
  height: 19px;
  margin-left: -13px;
  margin-right: 20px;
}

.logoStep {
  margin-right: 20px;
  font-weight: 100;
  color: gray;
}
.logoStep__Purple {
  margin-right: 20px;
  color: #9356DC;
}

.restaurantCards {
  display: flex;
  width: 90%;
  background-color: #fff;
  border-radius: 25px;
  flex-direction: column;
  margin: auto;
}

.restaurantCard {
  height: 280px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 25px;
}

.restaurantCard a:visited {
  text-decoration: none;
  color: black;
}

.imgRestaurant {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 70%;
}

.restaurantDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurantInfo {
  padding: 15px 0px 0px 15px;
}

.restaurantName {
  margin: 0;
}

.restaurantLocation {
  margin-top: 7px;
  font-weight: 300;
}

@media screen and (min-width: 1058px) {
  .restaurantCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .restaurantCard {
    height: 350px;
    margin-right: 2em;
  }

  .imgRestaurant {
    height: 78%;
  }
}

/*# sourceMappingURL=style.css.map */
