

.heartLogoIndex {
    cursor: pointer;
    font-size: 1.7rem;
    padding-right: 1em;
    &:hover .fas {
      transform-origin: bottom;
      transition: transform 1000ms;
      transform: scale(0.88);
    }

    .fas {
      background: $color-button;
      position: absolute;
      transform: scale(0);  
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
  }

  .heartLogoRestaurant {
  
    cursor: pointer;
    font-size: 1.7rem;
    padding-right: 1em;
    padding-top: 1rem;
    &:hover .fas {
      padding-top: 1.8px;
      transform-origin: bottom;
      transition: transform 1000ms;
      transform: scale(0.88);
    }

    .fas {
      background: $color-button;
      position: absolute;
      transform: scale(0);  
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }