/* LOADER */

#loader {
    border: 1.6rem solid $color-primary;
    border-radius: 50%;
    border-top: 1.6rem solid $color-tertiary;
    width: 12rem;
    height: 12rem;
    animation: spin 2.5s linear 0.5s;
    animation-fill-mode: forwards;

}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg);
        
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        visibility: hidden;
        opacity: 0;
    }

}
