body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

/*header*/
.mainLogo {
  display: block;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*footer*/
footer a {
  color: #fff;
}

.footerContent {
  margin-top: 3rem;
  width: 100%;
  background-color: #3a3838;
  color: #fff;
  padding: 15px 0;
}

.footerLogo {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 1em;
}

.footerText {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.footerContent h2 {
  margin: 4px;
}

.footerText p {
  margin: 4px;
  font-weight: lighter;
}

.footerFas {
  margin-right: 0.5rem;
}
.footerFas__helpingHand {
  margin-right: 0.5rem;
  font-size: 0.7em;
}

.heartLogoIndex {
  cursor: pointer;
  font-size: 1.7rem;
  padding-right: 1em;
}
.heartLogoIndex:hover .fas {
  transform-origin: bottom;
  transition: transform 1000ms;
  transform: scale(0.88);
}
.heartLogoIndex .fas {
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: absolute;
  transform: scale(0);
}

.heartLogoRestaurant {
  cursor: pointer;
  font-size: 1.7rem;
  padding-right: 1em;
  padding-top: 1rem;
}
.heartLogoRestaurant:hover .fas {
  padding-top: 1.8px;
  transform-origin: bottom;
  transition: transform 1000ms;
  transform: scale(0.88);
}
.heartLogoRestaurant .fas {
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: absolute;
  transform: scale(0);
}

@keyframes check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes secondsMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secondsMenu {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  align-items: center;
}

.arrowBack {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.restaurantImg Img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurantMenu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.restaurantTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", sans-serif;
  margin-left: 30px;
  animation: seconds 1s backwards;
  animation-delay: 0.5s;
}

.restaurantTitle h2 {
  margin-bottom: 0;
}

.restaurantCategories {
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.restaurantContent {
  margin-bottom: 3em;
}

.restaurantCategories p {
  margin: 0;
}

.restaurantCategories p::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  display: block;
  margin-top: 5px;
}

.restaurantStarters {
  animation: secondsMenu 1s backwards;
  animation-delay: 1s;
}

.restaurantMains {
  animation: secondsMenu 1s backwards;
  animation-delay: 2s;
}

.restaurantDeserts {
  animation: secondsMenu 1s backwards;
  animation-delay: 3s;
}

.restaurantItem {
  position: relative;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 20px;
  margin: 1em auto;
  overflow: hidden;
  max-width: 350px;
  height: 70px;
  padding: 0.5em;
  cursor: pointer;
}
.restaurantItem:hover .itemName, .restaurantItem:hover .itemComment {
  transition: all 0.5s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
}
.restaurantItem:hover .checkIcon {
  transition: right 0.5s;
  right: 0;
}
.restaurantItem:hover i {
  animation: check 1s ease;
}

.checkIcon {
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  position: absolute;
  display: flex;
  right: -50px;
  width: 50px;
  height: 100%;
  top: 0;
}
.checkIcon i {
  color: white;
  font-size: 20px;
}

.itemName {
  margin: 0;
  padding: 10px 15px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.itemDescription {
  display: flex;
  padding: 0 15px;
}

.itemDescription p {
  margin: 0;
}

.itemComment {
  font-weight: 300;
  font-size: 0.9em;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}

.order {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 16px #0000002e;
  color: #fff;
  padding: 15px 35px;
  border: 0px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.order:hover {
  filter: brightness(105%);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/*# sourceMappingURL=menu.css.map */
