$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-footer: #3a3838;
$color-button:linear-gradient(to bottom right,$color-secondary, $color-primary);
$white: #fff;
$title-font: 'Shrikhand', sans-serif;
$body-font: 'Roboto', sans-serif;